:root {
  --background: #343541;
  --background-light: #444654;
  --background-light-less: #373849;
  --primary: #715fde;
  --primary-light: #989fdd;
  --text: #ececf1;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 20px;
}

.cgpaArea {
  display: flex;
  flex-direction: column;
  background-color: var(--background-light);
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  text-align: left;

}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

label b{
  opacity:0.7;
}

input[type="text"] {
  border: none;
  padding: 0.8em;
  border-radius: 0.3em;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="text"]:focus {
  outline: none;
  background-color: var(--background-light-less);
}

button {
  display: block;
  /* Ensures the button is centered */
  margin: 0 auto;
  /* Centers the button horizontally */
  margin-top: 10px;
  /* Adds some top margin */
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--text);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: var(--primary-light);
}

#res {
  margin-top: 1em;
  font-weight: bold;
  color: var(--text);
  background-color: var(--background-light);
  padding: 1em;
  border-radius: 0.3em;
  word-wrap: break-word;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0;
  transition: 0.3s;
}

#resetBtn {
  display: none;
}